body{
    background-color: rgba(245, 245, 220, 0.7);
}

.button-container {
    position: sticky;
    top: 0;
    background-color: black;
    padding: 10px;
    text-align: center;
    border: none;
}

h1 {
font-family: 'Playfair Display', serif;
    text-align: center;
    color: black;
    padding-top: 100px;
}

h2 {
font-family: 'Playfair Display', serif;
    text-align: center;
    color: black;
    padding-bottom: 100px;
}

img {
    display: block;
    margin-left: auto;
    margin-right:auto;
    width: 100vw;
    max-width: 75%;

}

#register {
    background-color: black;
    color: white;
}

#login {
       background-color: black;
        color: white;
}

h3 {

    font-family: 'Playfair Display', serif;
   width: 600px;
   margin: 0 auto;
    color: black;
    padding-bottom: 75px;
}

#description-title {
    padding-top: 100px;
    padding-bottom: 25px;
}


.start{
    text-align: center;
    padding-bottom:50px;
}



#start {
    font-family: 'Playfair Display', serif;
    background-color: black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    height: 50px;
    width: 150px;
    font-size: 18px;

}
